---
layout: single
---

<table style="width: 100%; display: inline-table;">
    <tr>
      <th><h2 style="margin: auto;">Category</h2></th>
      <th><h2 style="margin: auto;">Skill</h2></th>
      <th style="width: 0;"><h2 style="margin: auto;">Level</h2></th>
    </tr>

    <tr>
        <hr/>
    </tr>

    {% for cat in site.data.skills %}
    {% assign skill = cat.skills[0] %}
    <tr>
        <td rowspan="{{ cat.skills.size | plus: 1}}" style="text-align: center;"><h3 style="margin: auto;">{{ cat.name }}</h3></td>
        <td> <img src="{{ skill.icon }}" style="height: 2em"> <span>{{ skill.name }}</span></td>
        <td>
            <p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;">
                {% for i in (1..skill.level) %}●{% endfor %}{% for i in (skill.level..9) %}○{% endfor %}
            </p>
        </td>
    <tr>
    
    {% assign rest = cat.skills | shift %}
    {% for skill in rest %}
    <tr>
        <td> <img src="{{ skill.icon }}" style="height: 2em"> <span>{{ skill.name }}</span></td>
        <td>
            <p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;">
                {% for i in (1..skill.level) %}●{% endfor %}{% for i in (skill.level..9) %}○{% endfor %}
            </p>
        </td>
    </tr>
    {% endfor %}
    {% endfor %} 
</table>