---
layout: single
---

<table style="width: 100%; display: inline-table;">
    <tr>
      <th><h2 style="margin: auto;">Category</h2></th>
      <th><h2 style="margin: auto;">Skill</h2></th>
      <th style="width: 0;"><h2 style="margin: auto;">Level</h2></th>
      <th><h2 style="margin: auto;">Recency</h2></th>
    </tr>

    <tr>
        <hr/>
    </tr>

    {% for cat in site.data.skills %}
        {% assign skill = cat.skills[0] %}
        <tr>
            <td rowspan="{{ cat.skills.size | plus: 1}}" style="text-align: center;"><h3 style="margin: auto;">{{ cat.name }}</h3></td>
            {% include skill-row.html %}
        <tr>
        
        {% assign rest = cat.skills | shift %}
        {% for skill in rest %}
            <tr> {% include skill-row.html %} </tr>
        {% endfor %}
    {% endfor %} 
</table>

<details>
    <summary>Legend</summary>
    <div class="details-content">
        <table style="width: 100%; display: inline-table;">
            <tr>
                <th width="30%">Level</th>
                <th>Legend</th>
            </tr>
        
            <tr>
                <td><p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●○○○○○○○○</p></td>
                <td>Basic knowledge with no practical experience</td>
            </tr>
        
            <tr>
                <td><p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●●●○○○○○○</p></td>
                <td>Basic knowledge with limited practical experience</td>
            </tr>
        
            <tr>
                <td><p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●●●●●○○○○</p></td>
                <td>Working knowledge with some practical experience</td>
            </tr>
        
            <tr>
                <td><p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●●●●●●●○○</p></td>
                <td>Strong proficiency with the ability to perform tasks independently</td>
            </tr>
        
            <tr>
                <td><p class="skill-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●●●●●●●●●</p></td>
                <td>Deep expertise and ability to mentor others</td>
            </tr>
        </table>
        <!-- taken from https://www.ag5.com/competency-proficiency-scale/ -->
        
        <table style="width: 100%; display: inline-table;">
            <tr>
                <th width="30%">Recency</th>
                <th>Legend</th>
            </tr>
        
            <tr>
                <td class="recency-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">○○</td>
                <td>Last used over a year ago</td>
            </tr>
        
            <tr>
                <td class="recency-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●○</td>
                <td>Last used in more than three months</td>
            </tr>
        
            <tr>
                <td class="recency-level" style="font-size: 1.4em; margin: auto; font-family: UniCircles, sans-serif;text-align: center;">●●</td>
                <td>Used in the last three months</td>
            </tr>
        </table>
    </div>
</details>
